:root {
    --background: #6e5c62;
    --default-font: 'Lilita One', cursive;

}

html {
    font-family: var(--default-font);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--background);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    color: white;
    letter-spacing: .25em;
    margin: 0 auto;
}

.board {
    display: grid;
    gap: .25rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.board.--shake {
    animation: shake 0.5s;
}

.board__line {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
}

.board__line.--current .board__word {
    border: 3px solid #4C4347;
}

.board__line.--current .board__word.--current {
    border-bottom: 5px solid black;
}

.board__word {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;

    padding: .5rem;
    font-size: 1.85rem;
    font-weight: bold;
    border-radius: 4px;
    background-color: var(--color, #615458);
    text-align: center;
    color: white;
}

.board__word.--flip {
    animation: flip 0.45s linear 0s forwards;
}

.board__word.--right {
    --color: #3aa394;
}

.board__word.--place {
    --color: #d3ad69;
}

.board__word.--wrong {
    --color: #312a2c;
}

.board__word.--current {
    --color: 5px;
}

.keyboard {
    display: grid;
    height: 100%;
    gap: .25rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(32, 1fr);
    width: 100%;
    max-width: 500px;
    max-height: 200px;
}

.keyboard button {
    font-family: var(--default-font);
    touch-action: manipulation;
    border: none;
    border-radius: 4px;
    grid-column: span 3;
    color: white;
    background-color: #4C4347;
    outline: none;
    font-size: 1.25rem;
    line-height: 250%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .5rem;
}

.keyboard button.--right {
   background-color: #3aa394; 
}

.keyboard button.--place {
    background-color: #d3ad69;
}

.keyboard button.--wrong {
    background-color: #312a2c;
}

.keyboard [data-letter="A"] {
    grid-column: 2/ span 3;
}

.keyboard [data-letter="Z"] {
    grid-column: 3/ span 3;
}

.keyboard [data-letter="ENTER"] {
    grid-column: 25 / span 10;
}

.keyboard [data-letter="BACKSPACE"]{
    font-size: 2rem;
    line-height: 150%;
    font-weight: bold;
    grid-column: 29 / span 5;
    grid-row: 2/2;
}


.modal {
    position: absolute;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal.--hidden {
    display: none;
}

.modal__content {
    padding: 2rem;
    border-radius: 4px;
    background-color: var(--background);
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal__title {
    font-size: 1.25rem;
    text-align: center;
}

.modal__description {
    font-family: 'Mali', cursive;
    font-weight: 300;
    color: white;
    font-size: 1.25rem;
    line-height: 150%;
}

.modal__description strong {
    background-color: #3aa394;
    border-radius: 4px;
    padding: .25rem;
    margin: 0 .25rem;
    color: white;
    font-weight: 400;
}

.modal__btn {
    font-family: var(--default-font);
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 150%;
    border: unset;
    border-radius: 4px;
    background-color: #3aa394;
    color: white;
    display: block;
    width: 100%;
}

@keyframes flip {
  0% {
    background-color: #806971;
    border: 0.125em solid #4C4347;
    transform: perspective(200px) rotateY(0deg);
  }

  49.99999% {
    background-color: #806971;
    border: 0.125em solid #4C4347;
    transform: perspective(200px) rotateY(90deg);
  }

  50% {
    transform: perspective(200px) rotateY(-90deg);
    background-color: var(--color);
    border: none;
  }

  50.00001% {
    background-color: var(--color);
    border: none;
  }

  100% {
    transform: perspective(200px) rotateY(0deg);
    background-color: var(--color);
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}